body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.site-navigation,
.list-navigation,
.user-navigation,
.shop-item,
.socialmedia-list,
.information-list,
.catalog-list,
.catalog-list1,
.slide-list,
.paginator,
.brunch {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation {
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
.main-navigation a,
.user-navigation a,
.slide-list a,
.sale-1 a,
.sale-2 a,
.catalog-list a,
.catalog-list1 a,
.user-info,
.information-list a,
.number a,
.paginator a,
.brunch a {
  color: #ffffff;
}
.entrance-btn,
.basket-button,
.search-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  fill: #ffffff;

  border: none;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2)
}
.search-btn {
  font-size: 0;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active,
.catalog-item1 a:hover,
.catalog-item1 a:focus,
.catalog-item1 a:active,
.information-list a:hover,
.information-list a:focus,
.information-list a:active,
.html-academy a:hover,
.html-academy a:focus,
.html-academy a:active {
  color: #ffbc9e;
}
.search-btn:hover,
.search-btn:focus,
.entrance-btn:hover,
.entrance-btn:focus,
.basket-button:hover,
.basket-button:focus {
  color: #323232;
  background-color: #f8f7f4;
  fill: #323232;
}
.work-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}
.number {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}
.slide-item {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.about-shop {
  color: #323232;

  background-color: #cfbfa0;
  background-image: url("../img/background-aboutshop.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.shop-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.shop-item {
  font-weight: 400;
}
.sale-1 {
  text-align: left;
  color: #ffffff;

  background-color: #c03457;
  background-image: url("../img/background_berry.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 15px;

  margin-right: 26px;
}
.sale-2 {
  text-align: left;
  color: #ffffff;

  background-color: #422929e0;
  background-image: url("../img/background_choko.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 15px;
}
.sale-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.sale-paragraph {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.news {
  text-align: left;
  color: #323232;

  background-color: #e7d1d1;
  background-image: url("../img/background-article.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.news-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.news-article a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;

  text-decoration: underline;
}
.subscription {
  width: 560px;
  height: 220px;
  font-weight: 400;
  color: #5a5a5a;

  background-image: url("../img/bg-post.svg");
  border-radius: 10px;
}
.subscription-2 {
  border-radius: 10px;
  background-color: #f8f7f4;
}
.subscription input {
  line-height: 24px;
  text-align: left;
  color: #999999;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}
.submit-btn,
.user-info,
.popup-btn,
.order {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.give-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
}
.sale-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.submit-btn,
.give-link,
.user-info {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 30px;
  border: none;
}
.sale-link {
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.popup-btn,
.order {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.submit-btn:hover,
.submit-btn:focus,
.give-link:hover,
.give-link:focus,
.user-info:hover,
.user-info:focus,
.popup-btn:hover,
.popup-btn:focus,
.order:hover,
.order:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.submit-btn:active,
.give-link:active,
.user-info:active,
.popup-btn:active,
.order:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.sale-link:hover,
.sale-link:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.sale-link:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
.show-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 15px;
  border: none;
}
.page-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  color: #ffffff;

}
.active a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: default;
}
.page-item a:hover,
.page-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.page-item a:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: default;
}
.twitter,
.facebook,
.insta,
.vkontakte {
  width: 32px;
  height: 32px;

  color: rgba(255,255,255, 0.8);
  border: 3px solid rgba(255,255,255, 0.5);
  border-radius: 40px;
}
.twitter:hover,
.twitter:focus,
.facebook:hover,
.facebook:focus,
.insta:hover,
.insta:focus,
.vkontakte:hover,
.vkontakte:focus {
  color: #ffffff;
  border: 3px solid rgba(255,255,255, 0.7);
  border-radius: 50%;
}
.twitter:active,
.facebook:active,
.insta:active,
.vkontakte:active {
  color: #e9e9e9;
  border: 3px solid rgba(255,255,255, 0.7);
  border-radius: 50%;
}
.information-list {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.html-academy {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
}
.html-academy a {
  color: #fefefe;
}
.brunch {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
}
.icecream-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.catalog-item a {
  font-size: 16px;
  font-weight: 500;
}
.icecream-price {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}
.icecream-price span {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.option-form {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}
.option-form select,
.fat-field,
.consist-field,
.sorting-btn,
.price-range {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border: none;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2)
}
.option-form select:hover,
.option-form select:focus {
  color: #323232;
}
.option-form select:active {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}
.sorting-btn {
  border: 2px solid #ffffff;
}
.sorting-btn:hover,
.sorting-btn:focus {
  color: #323232;

  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
.sorting-btn:active {
  color: #323232;

  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
.user-form a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}
.user-form a:hover,
.user-form a:focus,
.user-form a:active,
.news-article a:hover,
.news-article a:focus,
.news-article a:active {
  color: #e84d37;
}
/*сетка*/
.wrapper {
  width: 1146px;
  margin-right: auto;
  margin-left: auto;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 83px;
}
.main-navigation {
  display: flex;
  justify-content: flex-start;
  width: 901px;
}
.logo {
  padding-right: 24px;
  width: 154px;
}
.site-navigation {
  display: flex;
  margin-top: 32px;
  margin-bottom: 38px;
  padding: 0;
}
.site-navigation li {
  padding-right: 14px;
}
.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 245px;
  padding-top: 23px;
  margin-bottom: 20px;
  padding: 0;
}
.user-navigation li {
  padding-right: 10px;
}
.container-sale {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
  min-height: 229px;
}
.sale-1,
.sale-2 {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 18px 21px 24px 20px;
}
.sale-heading {
  padding-bottom: 17px;
  margin: 0;
}
.sale-paragraph {
  margin: 0;
  padding-bottom: 40px;
}
.sale-link {
  align-self: flex-end;
}
.sale-1 .sale-link {
  min-width: 165px;
  padding: 10px 20px;
  margin-top: auto;
}
.sale-2 .sale-link {
min-width: 189px;
padding: 10px 20px;
margin-top: auto;
}
.catalog1 {
  margin-bottom: 40px;
}
.catalog-list1 {
  display: flex;
  justify-content: space-around;
}
.catalog-item1 {
  width: 267px;
}
.about-shop {
  padding: 29px 34px 26px 20px;
  min-height: 306px;
  margin-bottom: 40px;
}
.shop-description {
margin-top: 0;
margin-bottom: 10px;
}
.shop-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.shop-list {
  width: 527px;
  margin-right: 33px;
  margin-bottom: 11px;
  text-align: left;

}
.shop-list:nth-child(2n) {
  margin-right: 0;
}
.shop-list span::before{
  flex-shrink: 0;
  margin-right: 10px;
  content: '';
  width: 49px;
  height: 49px;
}
.shop-list span {
  margin-top: 17px;
  margin-right: 27px;
}
.container-news-sub {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
  min-height: 220px;
}
.news,
.subscription {
display: flex;
flex-direction: column;
width: 560px;
}

.news {
  margin-right: 26px;
}
.news-title {
  padding-top: 26px;
  margin: 0;
  padding-left: 20px;
}
.news-article {
  margin: 0;
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 258px;
}
.subscription-2 {
margin-top: 5px;
margin-right: 5px;
}
.subscription-message {
  margin: 0;
  padding: 33px 22px 38px 21px;

}
.subscription-2 form {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-bottom: 35px;
  padding-right: 21px;
}
.email-form {
  width: 368px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 11px;
}
.submit-btn {
  padding: 0;
  width: 129px;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.socialmedia-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 36px;
  width: 185px;
}
.socialmedia-list li {
  margin-right: 11px;
}
.information-list {
  width: 326px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
margin-top: 37px;
}
.information-list li {
  margin: 0;
  margin-right: 32px;
  margin-bottom: 9px;
}
.information-list img {
  padding-right: 7px;
}
.information-list li:nth-child(2n+1) {
  margin-right: 0;
}
.copyright {

  margin: 0;
  margin-top: 18px;
}
.html-academy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 189px;
  margin: 0;
}
.html-academy a {
  margin: 0;
  margin-bottom: 8px;
  width: 108px;
  height: 39px;
}
.html-academy p {
  margin: 0;
  margin-bottom: 26px;
}

