body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.site-navigation,
.list-navigation,
.user-navigation,
.shop-item,
.socialmedia-list,
.information-list,
.catalog-list,
.slide-list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation {
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
.main-navigation a,
.user-navigation a,
.slide-list a,
.sale-1 a,
.sale-2 a,
.catalog-list a,
.user-info,
.information-list a,
.number a,
.paginator a,
.brunch a {
  color: #ffffff;
}
.entrance-btn,
.basket-button,
.search-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  fill: #ffffff;

  border: none;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2)
}
.search-btn {
  font-size: 0;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ffbc9e;
}
.search-btn:hover,
.search-btn:focus,
.entrance-btn:hover,
.entrance-btn:focus,
.basket-button:hover,
.basket-button:focus {
  color: #323232;
  background-color: #f8f7f4;
  fill: #323232;
}
.work-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}
.number {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}
.slide-item {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.about-shop {
  text-align: left;
  color: #323232;

  background-color: #cfbfa0;
  background-image: url("../img/background-aboutshop.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.shop-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.shop-item {
  font-weight: 400;
}
.sale-1 {
  text-align: left;
  color: #ffffff;

  background-color: #c03457;
  background-image: url("../img/background_berry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.sale-2 {
  text-align: left;
  color: #ffffff;

  background-color: #422929e0;
  background-image: url("../img/background_choko.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.sale-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.sale-paragraph {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.news {
  text-align: left;
  color: #323232;

  background-color: #e7d1d1;
  background-image: url("../img/background-article.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.news-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.news-article a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;

  text-decoration: underline;
}
.subscription {
  width: 560px;
  height: 220px;
  font-weight: 400;
  color: #5a5a5a;

  background-image: url("../img/bg-post.svg");
  border-radius: 10px;
}
.subscription-2 {
  border-radius: 10px;
  background-color: #f8f7f4;
}
.subscription input {
  line-height: 24px;
  text-align: left;
  color: #999999;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}
.submit-btn,
.user-info,
.popup-btn,
.order {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.give-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
}
.sale-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.submit-btn,
.give-link,
.user-info {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.sale-link {
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.popup-btn,
.order {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.submit-btn:hover,
.submit-btn:focus,
.give-link:hover,
.give-link:focus,
.user-info:hover,
.user-info:focus,
.popup-btn:hover,
.popup-btn:focus,
.order:hover,
.order:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.submit-btn:active,
.give-link:active,
.user-info:active,
.popup-btn:active,
.order:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
.sale-link:hover,
.sale-link:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.sale-link:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
.show-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);

  display: none;
}
.twitter,
.facebook,
.insta,
.vkontakte {
  width: 32px;
  height: 32px;
}
.twitter img,
.facebook img,
.insta img,
.vkontakte img {
  color: rgba(255,255,255, 0.8);
  border: 3px solid rgba(255,255,255, 0.5);
  border-radius: 50%;
}
.information-list {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.html-academy {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
}
.html-academy a {
  color: #fefefe;
}
.brunch {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
}
.icecream-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.catalog-item a {
  font-size: 16px;
  font-weight: 500;
}
.icecream-price {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}
.icecream-price span {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
