/*----общие стили---*/
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.wrapper {
  width: 1146px;
  margin-right: auto;
  margin-left: auto;
}
.catalog-wrapper {
  background-color: #849d8f;
}
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/double_icecream_1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/double_icecream_2.png");
}
.site-wrapper::after {
  background-image: url("../img/double_icecream_3.png");
}
.site-navigation,
.list-navigation,
.user-navigation,
.shop-item,
.socialmedia-list,
.information-item,
.catalog-list,
.slider-list,
.paginator-list,
.brunch {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation a,
.user-navigation a,
.slider-list a,
.sale-berry a,
.sale-choko a,
.catalog-list a,
.user-info,
.information-item a,
.number a,
.paginator-list a,
.brunch a {
  color: #ffffff;
}
/*----BUTTONS---*/
.entrance-btn,
.basket-button,
.search-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  fill: #ffffff;

  border: none;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2)
}
.search-btn {
  font-size: 0;
}
.submit-btn,
.user-info,
.popup-btn,
.order {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
.submit-btn,
.give-link,
.user-info {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 30px;
  border: none;
}
.popup-btn,
.order {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
/*----active----*/
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active,
.information-item a:hover,
.information-item a:focus,
.information-item a:active,
.html-academy a:hover,
.html-academy a:focus,
.html-academy a:active {
  color: #ffbc9e;
}
.search-btn:hover,
.search-btn:focus,
.entrance-btn:hover,
.entrance-btn:focus,
.basket-button:hover,
.basket-button:focus {
  color: #323232;
  background-color: #f8f7f4;
  fill: #323232;
}
.submit-btn:hover,
.submit-btn:focus,
.give-link:hover,
.give-link:focus,
.user-info:hover,
.user-info:focus,
.popup-btn:hover,
.popup-btn:focus,
.order:hover,
.order:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
  border: none;
}
.submit-btn:active,
.give-link:active,
.user-info:active,
.popup-btn:active,
.order:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  border-radius: 50px;
  border: none;
}
.sale-btn:hover,
.sale-btn:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}
.sale-btn:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
/*---- main page HEADER ---*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}
.main-navigation {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
.logo {
  margin-right: 24px;
  width: 154px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}
.site-navigation li {
  padding-right: 14px;
}
.site-navigation li:last-child {
  padding-right: 0;
}
.user-navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.user-navigation li:not(:last-child) {
  padding-right: 10px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.work-hours {
  margin: 0;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
}
.number {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.nav-button {
  display: flex;
  align-items: center;
  padding: 8px;
}
.entrance-btn {
  min-width: 93px;
  text-align: center;
}
.entrance-btn svg,
.basket-button svg {
  padding-right: 7px;
  padding-left: 6px;
}
.basket-button {
  min-width: 100px;
}
.user-form a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}
.user-form a:hover,
.user-form a:focus,
.user-form a:active,
.news-article a:hover,
.news-article a:focus,
.news-article a:active {
  color: #e84d37;
}
/*----Main SLIDER---*/
.slider {
  position: relative;
  padding-top: 250px;
  padding-bottom: 41px;
  text-align: center;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/double_icecream_1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/double_icecream_2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/double_icecream_3.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.give-link {
  display: inline-block;
  padding: 12px 44px;
  font-size: 31px;
  font-weight: 600;
  line-height: 41px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
}
/*----Main-SALE---*/
.container-sale {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 20px;
  min-height: 229px;
}
.sale-block {
  display: flex;
  flex-direction: column;
  width: 519px;
  margin-right: 26px;
  margin-bottom: 20px;
  padding: 18px 21px 24px 20px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.sale-block:nth-child(2n) {
  margin-right: 0;
}
.sale-berry {
  background-color: #c03457;
  background-image: url("../img/berry.png");
}
.sale-choko {
  background-color: #422929e0;
  background-image: url("../img/choko.png");
}
.sale-heading {
  margin: 0;
  margin-bottom: 17px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.sale-paragraph {
  margin: 0;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.sale-btn {
  align-self: flex-end;
  padding: 9px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  border: none;
}
/*---Main DESCRIPTION---*/
.about-shop {
  padding: 27px 34px 24px 20px;
  margin-bottom: 40px;
  color: #323232;
  background-color: #cfbfa0;
  background-image: url("../img/background-aboutshop.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}
.shop-description {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.shop-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.shop-list {
  display: flex;
  width: 527px;
  margin-right: 33px;
}
.shop-list:nth-child(2n) {
  margin-right: 0;
}
.shop-list p {
  margin: 0;
  padding-top: 16px;
}
.shop-list::before {
  flex-shrink: 0;
  margin-right: 10px;
  content: '';
  width: 49px;
  height: 49px;
}
.icecream-svg::before {
  background-image: url("../img/ice-cream.svg");
}
.cow-svg::before {
  background-image: url("../img/cow.svg");
}
.eco-svg::before {
  background-image: url("../img/eco.svg");
}
.termo-svg::before {
  background-image: url("../img/thermometer.svg");
}
/*---Main ARTICLE---*/
.container-news-sub {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 20px;
  min-height: 220px;
}
.block-news-sub {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.block-news-sub:nth-child(2n) {
  margin-right: 0;
}
.news {
  text-align: left;
  color: #323232;
  background-color: #e7d1d1;
  background-image: url("../img/background-article.jpg");

}
.news-title {
  padding-top: 26px;
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.news-article {
  margin: 0;
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 258px;
}
.news-article a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}
/*---Main SUBSCRIBE---*/
.subscription-wrapper {
  margin: 0;
  border-radius: 15px;
  background-color: #f8f7f4;
}
.subscription {
  width: 550px;
  min-height: 220px;
  padding: 5px;
  font-weight: 400;
  color: #5a5a5a;
  background-image: url("../img/bg-post.svg");
  background-position: 50% 50%;
}
.subscription input {
  line-height: 24px;
  text-align: left;
  color: #999999;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}
.subscription-message {
  margin: 0;
  padding: 33px 22px 38px 21px;
}
.subscription-wrapper form {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-bottom: 35px;
  padding-right: 21px;
}
.email-form {
  width: 368px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 11px;
  padding-left: 15px;
}
.submit-btn {
  padding: 0;
  width: 129px;
}
/*----Main MAP---*/
.contact-block {
  margin-bottom: 18px;
  display: flex;
  position: relative;
  height: 430px;
}
.pin {
  position: absolute;
  top: 140px;
  left: 285px;
}
.contacts {
  position: absolute;
  top: 60px;
  left: 850px;
  padding: 31px 25px;
  width: 252px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #323232;
}
.contact-info-map {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 35px;
}
.address {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}
.tel-number a {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #323232;
}
.tel-number {
  padding-top: 12px;
  padding-bottom: 3px;
}
.user-info {
  padding: 13px 27px;
}
/*----FOOTER---*/
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
/*---Footer SOCIAL-MEDIA---*/
.socialmedia-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.socialmedia-list li {
  margin-right: 11px;
}
.socialmedia-list li:last-child {
  margin-right: 0;
}
.twitter,
.facebook,
.insta,
.vkontakte {
  width: 32px;
  height: 32px;
  color: rgba(255,255,255, 0.8);
  border: 3px solid rgba(255,255,255, 0.5);
  border-radius: 40px;
}
.twitter:hover,
.twitter:focus,
.facebook:hover,
.facebook:focus,
.insta:hover,
.insta:focus,
.vkontakte:hover,
.vkontakte:focus {
  color: #ffffff;
  border: 3px solid rgba(255,255,255, 0.7);
  border-radius: 50%;
}
.twitter:active,
.facebook:active,
.insta:active,
.vkontakte:active {
  color: #e9e9e9;
  border: 3px solid rgba(255,255,255, 0.7);
  border-radius: 50%;
}
/*----Footer INFORMATION---*/
.information-item {
  width: 363px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}
.information-list {
  min-width: 145px;
  margin: 0;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: flex;
}
.heart::before {
  width: 15px;
  height: 13px;
  flex-shrink: 0;
  margin-right: 7px;
  content: '';
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}
/*----Footer COPYRIGHT---*/
.html-academy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 189px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
}
.html-academy a {
  margin: 0;
  margin-bottom: 8px;
  color: #fefefe;
}
.html-academy p {
  margin: 0;
}
/*---Catalog HEADER---*/
.full-basket {
  color: #323232;
  background-color: rgb(248, 247, 244, 0.99);
  border: none;
}
/*---- Catalog BREADCRUMBS---*/
.brunch {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-top: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
}
.brunch-item:not(:last-child)::after {
  padding-right: 5px;
  content: '»';
}
/*----Catalog OPTION FORM----*/
.option-form {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.sorting-block {
  flex-direction: column;
  margin: 0;
  margin-bottom: 18px;
  margin-right: 14px;
  padding: 0;
}
.sorting-block p {
  margin: 0;
  margin-bottom: 6px;
}
.sorting {
  min-width: 194px;
  min-height: 37px;
}
.price-option-block {
  width: 220px;
  margin-bottom: 18px;
  margin-right: 14px;
}
.price-option-block p {
  margin: 0;
  margin-bottom: 6px;
}
.fat-block {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
}
.fat-block fieldset,
.consist-block fieldset {
  border: transparent;
  margin: 0;
  padding: 0;
}
.fat-block p,
.consist-block p {
  margin: 0;
  margin-bottom: 6px;
}
.fat-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 415px;
  min-height: 37px;
}
.consist-block {
  margin: 0;
  margin-right: 13px;
  padding: 0;
}
.consist-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 703px;
  min-height: 37px;
}
.sorting-btn {
  padding: 8px 28px;
  margin-top: 25px;
  border: 2px solid #ffffff;
}
.option-form {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}
.option-form select,
.fat-field,
.consist-field,
.sorting-btn,
.price-range {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  border: none;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2)
}
.option-form select:hover,
.option-form select:focus {
  color: #323232;
}
.option-form select:active {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
}
.sorting-btn:hover,
.sorting-btn:focus {
  color: #323232;

  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
.sorting-btn:active {
  color: #323232;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
/*---Catalog item---*/
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 40px;
}
.icecream-img {
  position: relative;
  margin: 0;
}
.hit::before {
  position: absolute;
  width: 61px;
  height: 61px;
  content: '';
  background-image: url("../img/hit.svg");
  background-size: cover;
}
.icecream-price {
  position: absolute;
  top: 210px;
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.icecream-name {
  margin: 0;
  text-align: center;
  margin-top: 8px;
}
.icecream-heading {
  margin:0;
  margin-bottom: 29px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.catalog-item a {
  font-size: 16px;
  font-weight: 500;
}
.icecream-price span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.show-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 15px;
  border: none;
}
/*---Catalog PAGINATOR---*/
.paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 49px;
  padding: 0;
}
.paginator-list {
  display: flex;
  margin: 0;
  margin-right: 20px;
  margin-left: 15px;
  padding: 0;
}
.page-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
}
.paginator-btn {
  width: 8px;
  height: 12px;
  margin: 0;
  padding: 0;
  content:'';
  background-color: transparent;
  border: transparent;
  flex-shrink: 0;
}
.left {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  opacity: 0.2;
}
.right {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}
.page-item a {
  width: 27px;
  height: 26px;
  text-align: center;
}
.active a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: default;
}
.page-item a:hover,
.page-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.page-item a:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: default;
}
